<h1><%= titulo %></h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>PRICE</th>
            <th>THUMBNAIL</th>
        </tr>
    </thead>
    <tbody>
        <% mensaje.forEach(function(i) { %>
            <tr>
                <td><%= i.id %></td>
                <td><%= i.title %></td>
                <td><%= i.price %></td>
                <td><img src="<%= i.thumbnail %>" alt="<%= i.title %>"></td>
            </tr>
        <% }) %>
    </tbody>
</table>