<h1>Info</h1>
<ul>
    <li>Argumentos de entrada: {{argv}}</li>
    <li>Nombre de la plataforma: {{platform}}</li>
    <li>Versión de node: {{ver}}</li>
    <li>Memoria total reservada: {{mem}}</li>
    <li>Path de ejecución: {{path}}</li>
    <li>Process id: {{pid}}</li>
    <li>Carpeta del proyecto: {{cwd}}</li>
    <li>Cantidad de procesadores: {{cpus}}</li>
</ul>