<div class="form">
    <h1>Ingrese producto</h1>
    <form action="/api/productos" method="post">
        <div>
            <label for="title">Nombre: </label>
            <input type="text" name="title">
        </div>
        <br>
        <div>
            <label for="price">Precio: </label>
            <input type="number" name="price">
        </div>
        <br>
        <div>
            <label for="thumbnail">Foto URL: </label>
            <input type="url" name="thumbnail">
        </div>
        <br>
        <div>
            <label></label>
            <input type="submit" value="Enviar">
        </div>
        {{!-- {{{products}}} --}}
    </form>
</div>
{{!-- {{{messages}}} --}}

<div class="table">
    <h1>Lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>PRECIO</th>
                <th>THUMBNAIL</th>
            </tr>
        </thead>
        <tbody>
            {{#each mensaje}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img src="{{this.thumbnail}}" alt="{{this.title}}"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="messages">
    <h1>Centro de mensajes</h1>
    <input type="email" id="email" placeholder="usuario@dominio">
    <hr>
    <ul id="messages"></ul>
    <input type="text" id="input" autocomplete="off" placeholder="Ingresa un mensaje..."><button>Enviar</button>
</div>